#maincontent {
  width: 100%;
  margin-left: 5px;
  margin-right: 5px;
  height: 1280px;
  text-align: center;
}

.navbar {
  display: flex;
  padding-left: 50px;
  padding-right: 50px;
  align-items: center;
  align-self: center;
  justify-content: space-around;
  height: fit-content;
  width: auto;
  background-color: aliceblue;
}

.button {
  float: left;
  display: block;
  width: 20%;
}

.logo {
  height: 4em;
  will-change: filter;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.generator {
  margin-top: auto;
  max-width: 50%;
  justify-self: right;
  background-color: darkblue;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
